.hero-container {
    background-color: linear-gradient(90deg, #dd8ea4 0%, #f2e9eb 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: ;
}